<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AI Powered Search{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Main Content -->
    <div class="cover">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 AI Powered Search</p>
    </footer>
</body>
</html>
